{% extends "layout.html" %}

{% block title %}
RoyalSeal Academy
{% endblock %}

{% block main %}

<div class="background">
    <div class="background-container">
        <div class="col">
            <h1 class="background-text">Learn Something New</h1>
            <h2 class="background-text" style="color:#ff5c5c; font-size: 2.5rem;">Everyday Anywhere Anytime</h2>
        </div>
        <div class="col" style="margin-top:1rem;">
            <span class="background-text2">It is a long established fact that a reader will be distracted by the there
                <br> are many cats and dog tuitorial series.</span>
        </div>
        <div class="col">
            <br><button class="btn background-btn" type="submit">Start 7 Days Trail</button>
        </div>
    </div>
</div>

{% endblock %}